<p>左にパーシャルで　<%= link_to "アカウント", users_account_path %>　<%= link_to "プロフィール", users_profile_path %></p>
<h3>アカウント</h3>
<table>
    <thead>
      <tr>
        <th>メールアドレス</th>
        <th>パスワード</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @user.email %></td>
          <td><%= @user.password %></td>
        </tr>
    </tbody>
  </table>
  <%= link_to "編集",[:edit, user]%>
