<main>
  <p>新しいアカウントを作成</p>

  <%= render "shared/error", obj:@user %>

  <%= form_with model: @user do |f| %>
    <table>
      <tr>
        <th><%= f.label :name ,"ユーザー名" %></th>
        <td><%= f.text_field :name ,class:"name" %></td>
      </tr>
      <tr>
        <th><%= f.label :email ,"メールアドレス" %></th>
        <td><%= f.text_field :email ,class:"email" %></td>
      </tr>
      <tr>
        <th><%= f.label :password ,"パスワード" %></th>
        <td><%= f.text_field :password ,class:"password" %></td>
      </tr>
      <tr>
        <th><%= f.label :password ,"パスワード確認" %></th>
        <td><%= f.text_field :password ,class:"password" %></td>
      </tr>
    </table>
    <div>
      <ul>
        <li><%= f.submit "新しいアカウントを作成" ,class:"submit-button" %></li>
        <li><%= link_to "すでにアカウントをお持ちの方はログイン", :root %></li>
      </ul>
    </div>
  <% end %>
</main>
