<%= render "shared/sidebar" %>
        <h5>プロフィール</h5>
      </div>
      <div class ="profile-error">
        <%= render "shared/error", obj:@user %>
      </div>
      <div class ="profile-inner justify-content-center">
        <%= image_tag current_user.icon, class: 'user-icon' %>
      </div>
      <%= form_with model: @user, name: :profile_update do |f| %>
        <div class ="profile-inner">
          <%= f.label :icon ,"アイコン画像", class: "form-label w-25" %>
          <%= f.file_field :icon, class:"icon", class: "w-75" %>
        </div>
        <div class ="profile-inner">
          <%= f.label :name ,"名前", class: "form-label w-25" %>
          <%= f.text_field :name, class: "form-control w-75", placeholder: "名前を入力" %>
        </div>
        <div class ="profile-inner">
          <%= f.label :introduction ,"自己紹介", class: "form-label w-25" %>
          <%= f.text_area :introduction, class:"form-control w-75", rows: "5", placeholder: "自己紹介を入力" %>
        </div>
        <div class ="profile-inner border-0">
          <%= f.submit "プロフィール更新", class:"btn btn-primary form-btn", name: :profile_update %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
