<div class="bg-light p-5">
  <div class="profile-container mt-0">
    <div class ="profile-inner justify-content-center">
      <%= image_tag @user.icon, class: 'user-icon' %>
    </div>
    <div class="profile-inner justify-content-center">
      <label class="form-label w-25">ユーザー名</label>
      <p class="w-75"><%= @user.name %></p>
    </div>
    <div class="profile-inner border-0">
      <label class="form-label w-25">自己紹介</label>
      <p class="w-75"><%= @user.introduction %></p>
    </div>
  </div>

  <div class="room-index-container">
    <div class="row">
      <h3 class="col-12">このユーザーが登録したルーム： <%= @user.rooms.count %>件</h3>
      <% @user.rooms.each do |room| %>
        <%= render "shared/rooms_index_content", room: room %>
      <% end %>
    </div>
  </div>
</div>
