  <div class="card col-lg-5 col-md-5 col-sm-5 m-1 mb-2 p-0 room-index-card">
  <%= link_to room, class: 'link' do %>
    <%= image_tag room.image, alt: 'ルーム画像', class: 'card-img-top index-room-img' %>
    <div class="card-body room-index-card-body">
      <h5 class="card-title"><%= link_to "#{room.name.truncate(16)}", room %></h5>
      <p class="card-text font-weight-bold"><%= room.address.truncate(16) %></p>
      <p class="index-rate"><%= room.rate.to_s(:currency, unit: "￥", format: "%u%n") %> /日</p>
    </div>
    <% end %>
  </div>
