
<p>予約済みルーム一覧</p>

<table class="table">
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>予約したルーム名</th>
        <th>ID</th>
        <th>合計金額</th>
        <th>ユーザーID</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>人数</th>
        <th>予約確定日時</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reserv| %>
        <tr>
          <td><%= image_tag @rooms.find(params[id: reserv.room_id]).image %></td>
          <td><%= reserv.room_name %></td>
          <td><%= reserv.id %></td>
          <td><%= reserv.charge %></td>
          <td><%= reserv.user_id %></td>
          <td><%= reserv.start_at %></td>
          <td><%= reserv.end_at %></td>
          <td><%= reserv.num_people %></td>
          <td><%= reserv.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</main>
