<h3>あなたの予約一覧</h3>

<table class="table">
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>予約したルーム名</th>
        <th>ID</th>
        <th>合計金額</th>
        <th>ユーザーID</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>人数</th>
        <th>予約確定日時</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reserv| %>
        <tr>
          <td><%= image_tag reserv.room.image, class: "my_rooms_image" %></td>
          <td><%= link_to "#{reserv.room.name}", room_url(reserv.room_id) %></td>
          <td><%= reserv.id %></td>
          <td><%= reserv.charge.to_s(:currency, unit: "￥", format: "%u%n") %></td>
          <td><%= reserv.user_id %></td>
          <td><%= reserv.start_at %></td>
          <td><%= reserv.end_at %></td>
          <td><%= reserv.num_people %></td>
          <td><%= reserv.created_at.to_s(:datetime_jp) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
