
<p>予約済みルーム一覧</p>

<table>
    <thead>
      <tr>
        <th>予約したルーム名</th>
        <th>ID</th>
        <th>合計金額</th>
        <th>ユーザーID</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>人数</th>
        <th>予約確定日時</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.room_name %></td>
          <td><%= reservation.id %></td>
          <td><%= reservation.charge %></td>
          <td><%= reservation.user_id %></td>
          <td><%= reservation.start_at %></td>
          <td><%= reservation.end_at %></td>
          <td><%= reservation.num_people %></td>
          <td><%= reservation.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</main>
