<%= render "shared/error", obj:@reservation %>
<h3>予約内容確認</h3>
<%= form_with model: @reservation do |f| %>
    <table class="table">
      <tr>
        <th><%= "￥#{params[:room_rate]} /日" %></th>
      </tr>
      <tr>
        <th><%= f.label :room_name ,"ルーム名" %></th>
        <td><%= "#{params[:room_name]}" %></td>
      </tr>
      <tr>
        <th><%= f.label :start_at ,"開始日" %></th>
        <td><%= "#{params[:start_at]}" %></td>
      </tr>
      <tr>
        <th><%= f.label :end_at ,"終了日" %></th>
        <td><%= "#{params[:end_at]}" %></td>
      </tr>
      <tr>
        <td><p>使用日数：<%= @days %>日</p></td>
      </tr>
      <tr>
        <td><%= "人数：#{params[:num_people].to_i}人" %></td>
      </tr>
      <tr>
        <th><%= f.label :charge ,"合計金額" %></th>
        <td><%= @charge %></td>
      </tr>
    </table>
    <%= f.hidden_field :room_name, value: params[:room_name]  %>
    <%= f.hidden_field :charge, value: @charge %>
    <%= f.hidden_field :start_at, value: params[:start_at] %>
    <%= f.hidden_field :end_at, value: params[:end_at] %>
    <%= f.hidden_field :num_people, value: params[:num_people] %>
    <%= f.hidden_field :room_id, value: params[:room_id] %>
    <%= f.hidden_field :user_id, value: params[:user_id] %>

    <div>
      <%= f.submit "予約" ,class:"btn btn-primary" %>
      <%= link_to "ルーム詳細に戻る", room_url(@room), class: "btn" %>
    </div>
  <% end %>
