<main>
  <h3>ルーム一覧</h3>

   <table class="table">
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>ID</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>ユーザーid</th>
        <th>住所</th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><% if room.image.present? %><%= image_tag room.image, alt: 'ルーム画像', class: 'room_img' %><% end %></td>
          <td><%= room.id %></td>
          <td><%= link_to "#{room.name}", room %></td>
          <td><%= room.introduction %></td>
          <td><%= room.rate %></td>
          <td><%= room.user_id %></td>
          <td><%= room.address %></td>


        </tr>
      <% end %>
    </tbody>
  </table>

</main>
