<div class="room-index-container">
  <div class="row">
  <h3 class="col-12">検索結果： <%= Room.search(@area, @keyword).count %>件</h3>
  <% @rooms.each do |room| %>
    <%= link_to room, class: 'link' do %>
    <div class="card" style="width: 18rem;">
<%= image_tag room.image, alt: 'ルーム画像', class: 'index-room-img bd-placeholder-img card-img-top' %>
  <div class="card-body">
    <h5 class="card-title"><%= link_to "#{room.name}", room %></h5>
    <p class="card-text"><%= room.address %></p>
    <p class="index-rate"><%= room.rate %></a>
  </div>
  </div>
  <% end %>
<% end %>
  </div>
</div>
