<main>
  <p>ルーム情報登録</p>

  <%= render "shared/error", obj:@room %>

  <%= form_with model: @room do |f| %>
    <table>
      <tr>
        <th><%= f.label :room_name ,"ルーム名" %></th>
        <td><%= f.text_field :room_name ,class:"room_name" %></td>
      </tr>
      <tr>
        <th><%= f.label :room_introduction ,"ルーム紹介" %></th>
        <td><%= f.text_area :room_introduction ,class:"room_introduction" %></td>
      </tr>
      <tr>
        <th><%= f.label :room_rate ,"料金" %></th>
        <td><%= f.text_field :room_rate ,class:"room_rate" %><p>一日あたりの料金を入力</p></td>
      </tr>
      <tr>
        <th><%= f.label :room_address ,"住所" %></th>
        <td><%= f.text_field :room_address ,class:"room_address" %></td>
      </tr>
      <tr>
        <th><%= f.label :room_image ,"ルーム画像" %></th>
        <td><%= f.text_field :room_image ,class:"room_image" %></td>
      </tr>
    </table>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div>
      <ul>
        <li><%= f.submit "登録" ,class:"submit-button" %></li>
      </ul>
    </div>
  <% end %>
</main>
