<main>
  <p>ルーム情報登録</p>

  <%= render "shared/error", obj:@room %>

  <%= form_with model: @room do |f| %>
    <table class="table">
      <tr>
        <th><%= f.label :name ,"ルーム名" %></th>
        <td><%= f.text_field :name ,class:"name" %></td>
      </tr>
      <tr>
        <th><%= f.label :introduction ,"ルーム紹介" %></th>
        <td><%= f.text_area :introduction ,class:"introduction" %></td>
      </tr>
      <tr>
        <th><%= f.label :rate ,"料金" %></th>
        <td><%= f.text_field :rate ,class:"rate" %><p>一日あたりの料金を入力</p></td>
      </tr>
      <tr>
        <th><%= f.label :address ,"住所" %></th>
        <td><%= f.text_field :address ,class:"address" %></td>
      </tr>
      <tr>
        <th><%= f.label :image ,"ルーム画像" %></th>
        <td><%= f.file_field :image ,class:"image" %></td>
      </tr>
    </table>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div>
      <ul>
        <li><%= f.submit "登録" ,class:"btn btn-primary" %></li>
      </ul>
    </div>
  <% end %>
</main>
