  <%= render "shared/error", obj:@reservation %>
<div class="room-show-container">
  <div class="row">
    <div class="col-8">
        <%= image_tag @room.image, alt: 'ルーム画像', class: 'room-show-img' %>
      <div class="room-show-detail">
        <div class="room-show-dateil-icon">
          <%= image_tag @user.icon, alt: 'ユーザーアイコン', class: 'user-icon'%>
        </div>
        <div class="room-show-dateil-profile">
          <div class="room-show-name">
            <%= @room.name %>
          </div>
          <div class="room-show-address">
            <%= @room.address %>
          </div>
        </div>
      </div>
      <div class="room-show-intro">
        <%= @room.introduction %>
      </div>
    </div>

    <div class="col-4">
     <div class="room-show-nav">
      <h3>￥<%= @room.rate %> /日</h3>
      <%= form_with url: new_reservation_path, method: "get" do |f| %>
      <%= f.label :start_at, "開始日" %>
        <%= f.date_field :start_at, class:"form" %>
        <%= f.label :end_at, "終了日" %>
        <%= f.date_field :end_at, class:"form" %>

        <%= f.label :num_people, "人数" %>
          <td><%= f.number_field :num_people, class:"form" %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :room_rate, value: @room.rate %>
      <%= f.hidden_field :room_name, value: @room.name %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <div>
        <%= f.submit "予約確認に進む", class:"btn btn-primary" %>
      </div>
      <% end %>
      </div>
      </div>
  </div>
