<!DOCTYPE html>
<html>
  <head>
    <title>Pote Share</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-left">
        <div class="header-logo">
          <%= link_to image_tag("logo.png", class:"logo-img"), :root %>
        </div>
        <div class="header-search">
          <p>サーチ欄</p>
        </div>
      </div>
      <div class="header-right">
      <% if user_signed_in? %>

        <% current_user.name %><%= current_user.icon %>アイコン</p>
        <nav class="header-nav">
          <ul>
            <li><%= link_to "ルーム登録", :new_room %> </li>
            <li><%= link_to "予約済みルーム一覧", :reservations %> </li>
            <li><%= link_to "登録済みルーム一覧", :rooms %> </li>
            <li><%= link_to "設定", :users %> </li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %> </li>
          </ul>
        </nav>
        <% else %>
          <%= link_to "ログイン", new_user_session_path %>
          <%= link_to "登録する", new_user_registration_path %>
        <% end %>
      </div>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <footer>
      <p>©</p>
    </footer>
  </body>
</html>
